# Ignore build and distribution files
build/
dist/
*.whl
*.tar.gz
galamo.egg-info/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore MacOS system files
.DS_Store

# Ignore secrets
api.txt

# Ignore sensitive model files
galamo/model.keras
galamo/encoder.pkl
